doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title thebenmiller portfolio
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/public/css/main.css')
    link(href='https://fonts.googleapis.com/css?family=Dosis:200,300,400,700,800', rel='stylesheet')
    link(href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,400i,700' rel='stylesheet')
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
  body
    //- Add your site or application content here
    #content
      header
        h1
          a(href='/') thebenmiller
        nav.main-contact-nav
          ul.dropdown
            li.dropdown__control #[em.icon.icon--contact]Contact
              ul.dropdown__list
                li 
                  a.dropdown__link(href='mailto:thebenmiller@gmail.com') #[em.icon.icon--email]Email thebenmiller@gmail.com
                li
                  a.dropdown__link(href='http://twitter.com/thebenmiller') #[em.icon.icon--twitter]Twitter @thebenmiller
                li 
                  a.dropdown__link(href='http://linkedin.com/thebenmiller') #[em.icon.icon--linkedin]Linkedin
      block content
    
    script(src='/public/js/main.js')
    //- Google Analytics: change UA-XXXXX-X to be your site's ID.
    //-
    //- script
    //-   (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
    //-   function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
    //-   e=o.createElement(i);r=o.getElementsByTagName(i)[0];
    //-   e.src='//www.google-analytics.com/analytics.js';
    //-   r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    //-   ga('create','UA-XXXXX-X');ga('send','pageview');
