extends ../layouts/default

block content
  #content-inner
    header
      h1
        a(href='/') The Ben Miller
      nav.main-contact-nav
        ul.dropdown
          li.dropdown__control #[em.icon.icon--contact]Contact
            ul.dropdown__list
              li 
                a.dropdown__link(href='mailto:thebenmiller@gmail.com') #[em.icon.icon--email]Email thebenmiller@gmail.com
              li
                a.dropdown__link(href='http://twitter.com/thebenmiller') #[em.icon.icon--twitter]Twitter @thebenmiller
              li 
                a.dropdown__link(href='http://linkedin.com/thebenmiller') #[em.icon.icon--linkedin]Linkedin
    block presentation
