extends layouts/default

block content
  //- .fullscreen-bg
  #content-inner
    .intro.box-full
      .box--md2
        .box-full
          h1.extra-lrg thebenmiller
        .box-l
          .profile-image
        .box-r
          p
            h2.extra-lrg Hi! I'm a 50/50 developer, ux / interaction designer. Aspiring creative coder.
          p
            h2.extra-lrg Currently looking for work in NYC.
          p
            a.button(href='/public/resume.pdf') View my resume.
    .box--full
      a.block-link(href='/portfolio/')
        div.fullbg(style='background-image:url("/public/images/assets/bg.png")')
          .preview-box.centered
            h2 Design Portfolio
            p Things I've worked on over the last 5+ years.
          
    .box--md
      .box--preview
        h3.extra-lrg Personal projects
      a.block-link.box--preview.box(href='http://spaceisvast.com' target='_blank')
        .media
          img.media__img(src='/public/images/assets/spaceisvast.gif' width=250 height=200)
          .media__content 
            h2 SPACE IS VAST
            p A collection / experiment of generative art. <br>#[em.icon.icon--tools]<i>Processing</i>
      a.block-link.box--preview.box(href='http://mushedfaces.tumblr.com' target='_blank')
        .media
          img.media__img(src='/public/images/assets/mushed-faces.png' width=250 height=200)
          .media__content 
            h2 MUSHED FACES
            p Slow motion portraits, mushed with code. <br>#[em.icon.icon--tools]<i>iphone camera, Imagemagick and NodeJS.</i>
      //- a.block-link.box--preview.box(href='/vanity-url')
      //-   .media
      //-     img.media__img(src='http://unsplash.it/250/200?random=3' width=250 height=200)
      //-     .media__content 
      //-       h2 FRACTALLANDER
      //-       p Game submission for the game jam PROCJAM. <br>#[em.icon.icon--tools]<i>P5 and NodeJS</i>
          //- .box--preview
          //-   p.footer-text 
          //-     | Bye! Thanks for stopping by!
          //-     br
          //-     | #[a(href='mailto:thebenmiller@gmail.com') thebenmiller@gmail.com]
