extends layouts/default

block content
  .fullscreen-bg
  .box.box--sm
    .box__inner
      h1 The Ben Miller
      p Using creative solutions to solve interesting problems. <br>50/50 developer, ux/interaction designer. Aspiring creative coder.
      p Currently looking for work in NYC.
      p
        a(href='/portfolio') View my design portfolio
      nav.main-contact-nav
        ul.dropdown
          li.dropdown__control #[em.icon.icon--contact] Contact
            ul.dropdown__list
              li 
                a(href='mailto:thebenmiller@gmail.com') thebenmiller@gmail.com
              li
                a(href='href://twitter.com/thebenmiller') #[em.icon.icon--twitter] @thebenmiller
              li 
                a(href='href://instagram.com/thebenmiller') #[em.icon.icon--instagram] @thebenmiller
              li 
                a(href='href://linkedin.com/thebenmiller') #[em.icon.icon--linkedin] linkedin
    hr
    a.block-link.box__inner(href='/vanity-url')
      .media
        img.media__img(src='http://unsplash.it/150x150?random=1' width=150 height=150)
        .media__content 
          h2 SPACE IS VAST
          p A collection / experiment of generative art. <br>#[em.icon.icon--tools] <i>Processing</i>
    hr
    a.block-link.box__inner(href='/vanity-url')
      .media
        img.media__img(src='http://unsplash.it/150x150?random=2' width=150 height=150)
        .media__content 
          h2 MUSHED FACES
          p Slow motion portraits, mushed with code. <br>#[em.icon.icon--tools] <i>iphone camera, Imagemagick and node.</i>
    hr
    a.block-link.box__inner(href='/vanity-url')
      .media
        img.media__img(src='http://unsplash.it/150x150?random=3' width=150 height=150)
        .media__content 
          h2 FRACTALLANDER
          p Game submission for the game jam PROCJAM. <br>#[em.icon.icon--tools] <i>P5 and NodeJS</i>
    hr
    .box__inner
      p.footer-text 
        | Bye! Thanks for stopping by!
        br
        | #[a(href='mailto:thebenmiller@gmail.com') thebenmiller@gmail.com]
