extends layouts/default

block content
  //- .fullscreen-bg
  #content-inner
    .intro.box-full
      .box--md-top
        .box-l
          a(href='/coolfun/').profile-image
        .box-r
          h1 Hi, I'm Ben.
          h3.extra-space I'm a ux / interaction designer and front end developer. In my free time I'm an aspiring creative coding artist.
          h3.extra-space Currently looking for work in NYC.
          p
            a.button(href='/portfolio/' target='_blank') Check out my design portfolio.
          p
            a.button(href='/public/BenMillerResume.pdf' target='_blank') View my resume.
    .box--md
      .box--preview
        h1 Some personal projects
      a.block-link.box--preview.box(href='http://spaceisvast.com' target='_blank')
        .media
          img.media__img(src='/public/images/assets/spaceisvast.gif' width=250 height=200)
          .media__content 
            h2 SPACE IS VAST
            p A collection / experiment of generative art. <br>#[em.icon.icon--tools]<i>Processing</i>
      a.block-link.box--preview.box(href='http://mushedfaces.tumblr.com' target='_blank')
        .media
          img.media__img(src='/public/images/assets/mushed-faces.png' width=250 height=200)
          .media__content 
            h2 MUSHED FACES
            p Slow motion portraits, mushed with code. <br>#[em.icon.icon--tools]<i>iphone camera, Imagemagick and NodeJS.</i>
      //- a.block-link.box--preview.box(href='/vanity-url')
      //-   .media
      //-     img.media__img(src='http://unsplash.it/250/200?random=3' width=250 height=200)
      //-     .media__content 
      //-       h2 FRACTALLANDER
      //-       p Game submission for the game jam PROCJAM. <br>#[em.icon.icon--tools]<i>P5 and NodeJS</i>
          //- .box--preview
          //-   p.footer-text 
          //-     | Bye! Thanks for stopping by!
          //-     br
          //-     | #[a(href='mailto:thebenmiller@gmail.com') thebenmiller@gmail.com]
