#l_eye, #r_eye, #vidcanvas {
  top: 0px;
  left: 0px;
  width:100%;
  position: absolute;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}

#videoel{
  display:none;
  top:0px;
  left:0px;
  width:100%;
  z-index:-1;
  -o-transform : scaleX(-1);
  -webkit-transform : scaleX(-1);
  transform : scaleX(-1);
  -ms-filter : fliph; /*IE*/
  filter : fliph; /*IE*/
}
