em.icon{
  display: inline-block;
  width: .65em;
  height: .65em;
  margin-right:.35em;
  background-size: 100%;
  background-repeat: no-repeat;
  transition:background-image .15s;
}

.icon--contact{
  background-image:svg('src/images/assets/speech-bubble-right-2.svg', '[fill]: #00486E;');
}

.dropdown__control:hover .icon--contact{
  background-image:svg('src/images/assets/speech-bubble-right-2.svg', '[fill]: #00A8FF;');
}

.icon--tools{
  background-image:svg('src/images/assets/flask-full.svg', '[fill]: #162B36;');
}

a:hover .icon--tools{
  background-image:svg('src/images/assets/flask-full.svg', '[fill]: #FCFEFF;');
}

.icon--email{
  background-image:svg('src/images/assets/envelope.svg');
}

.icon--linkedin{
  background-image:svg('src/images/assets/linkedin.svg');
}

.icon--twitter{
  background-image:svg('src/images/assets/twitter.svg');
}
