a, a:hover, a:active, a:visited{
  text-decoration: none;
}

a.block-link, a.block-link .centered{
  transition: background-color .33s, color .15s, border-color .15s;
}

a.block-link, a.block-link:hover, a.block-link:active, a.block-link:visited{
  color:#162B36;
  background-color: #fff;
  border: solid 1px #00486e;
}

a.block-link:hover{
  background-color:rgba(0,174,255,.9);
  color:#FCFEFF;
  border-color: #fff;
  & .centered{
    background-color:rgba(0,174,255,.9);
    color:#FCFEFF;
  }
}

span a, p a{
  color: #00486E;
  font-weight: 400;
  font-style: italic;
  transition: background-color .33s, color .15s
}

span a:hover, p a:hover{
  background-color:#00A8FF;
  color:#FCFEFF;
}

a.dropdown__list{
  display:inline-block;
  width:100%;
  margin-bottom:2px;
}

a.dropdown__link:hover{
  text-decoration:underline
}

a.meta{
  color:#f2f9fd;
}

.button{
  display:inline-block;
  appearance:none;
  border:none;
  padding:.75em;
  font-size: 1rem;
  color: #00486E;
  font-weight: 400;
  font-style: italic;
  transition: background-color .33s, color .15s, border-color .15s;
  background-color: #fff;
  border: solid 1px #00486e;
}

.button:hover{
  background-color:rgba(0,174,255,.9);
  color:#FCFEFF;
  border-color: #fff;
}


.button.disabled{
  cursor: not-allowed;
}

.button.disabled:hover{
  background-color:inherit;
  color:inherit;
  border-color:inherit;
}
