.full-page-wrapper, .sub-page-contents{
  width:100%;
  background-repeat:no-repeat;
  background-position: 50% 50%;
  overflow: hidden;
  lost-align: middle-center;
}

.full-page-wrapper{
  height:calc(100vh - 5em);
  background-size:cover;
}

.sub-page-wrapper{
  height:calc(100vh - 6em);
  width:100%;
  overflow:hidden;
  position: relative;
}

.sub-page-contents{
  height:calc(100vh - 6em);
  background-size:contain;
  background-color:#fff;
}

.contain{
  background-size:contain;
}

.cover{
  background-size:cover;
}

.centered{
  background-color:$border-highlight-low;
  padding:1em;
  text-align: center;
}

.project-meta{
  position: absolute;
  bottom: 8px;
  font-size: .75rem;
}

.meta-left{
  left:1.5rem;
  text-align:left;
}

.meta-right{
  right: 1.5rem;
  text-align: right;
  color: rgba(255,255,255,.9)
}

.cover-video{
  min-width: 100%;
  width: auto;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
