/*$border-highlight: rgb(255, 245, 241);*/
/*$border-highlight: rgb(60, 102, 255);*/
$border-highlight: rgb(234, 234, 234);
/*$border-highlight: #222;*/

/*$flood-bg: rgb(60, 102, 255);*/

/*$flood-bg: rgb(60, 71, 92);*/

$flood-bg: rgb(172, 206, 225);

$highlight: rgb(219, 215, 215);

$border-highlight-low: rgba(234, 234, 234, .85);
