@import '_vars.css';
@import '_reset.css';
@import '_type.css';
@import '_icons.css';
@import '_links.css';
@import '_portfolio.css';
@import '_slick.css';
@import '_slick-theme.css';

body{
  background-color: #FCFEFF;
}

.fullscreen-bg{
  position: fixed;
  width:100%;
  height:100%;
  z-index:-1;
  background-color: $flood-bg;
  /*background-image:url('http://68.media.tumblr.com/c96dff6b665e4515b3b5afb3aee37da8/tumblr_of3xpjaIGv1tp1fefo1_500.gif');*/
  background-size:cover;
  border:solid 2em $border-highlight;
  border-top-width: 0;
  border-bottom-width: 0;
}

#content{
  width:100%;
  height:100%;
  position: relative;
}

#content-inner{
  border:solid 1em $border-highlight;
  border-bottom-width: 2em;
  /*background-color: $flood-bg;*/
  background-color:$flood-bg;
  /*background-color:#555;*/
  padding-top:2em;
  min-height:100%;
}

header{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:4em;
  background-color: $border-highlight;
  z-index:2;
  padding:1em 1em 0;
}

.box{
  overflow: hidden;
  position: relative;
  box-shadow:0 1px 2px 0 rgba(0,0,0,0.2);
  background-color:rgba(255,255,255,.95);
}

.box--md{
  lost-center: 650px;
  margin-top: 4em;
  margin-bottom: 4em;
}

.box-l{
  lost-column:1/4;
  video{
    width:100%;
    height:100%;
    /*margin-top:6em;*/
    border-radius:100px;
    overflow: hidden;
  }
}
.box-r{
  lost-column:3/4;
}

.box--md2{
  lost-center: 900px;
  margin-top: 6em;
  margin-bottom: 6em;
}

.box--col-full{
  lost-column: 1;
  margin-bottom:2em;
}

.box--col-left{
  lost-column: 1/3;
}

.box--col-right{
  lost-column: 2/3;
}

h1.extra-lrg{
  font-size:8vw;
  /*color:rgb(232, 237, 255);*/
  color:#fff;
  /*text-shadow: 0px 1px 3px rgba(0,0,0,.2);*/
}

h2.extra-lrg, h3.extra-lrg{
  color:#fff;
}

.box--sm{
  lost-center: 650px;
}

.box--big{
  width: 50%;
  background-color:rgba(255,255,255,.95);
}

.box--header{
  padding:2em;
}

.box--preview{
  lost-column: 1;
  margin-bottom:1.5em;
  padding:.25em;
  h2{
    margin-top: 1em;
  }
}

.box--full{
  width:100%;
  height:350px;
  position: relative;
}

.intro{
  position: relative;
}

.fullbg{
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-size:cover;
  background-repeat: no-repeat;
  lost-align: middle-center;
  background-position: 50% 50%;
}

.preview-box{
}

.media{
  display: flex;
}

.media__img{
  margin-right: 1em;
}

.media__content{
  flex: 1;
}

.main-contact-nav{
  margin-top: -1.5em;
  font-size: .85rem;
  float: right;
  display: inline-block;
  text-align: right;
}

.dropdown__list{
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.33s;

  padding: .5em 2em .5em .65em;
  margin-right: -.75em;
  text-align: left;
  background-color:#00A8FF;
  a{
    color:#FCFEFF;
  }
}

.dropdown__control{
  color:#00486E;
  text-align: right;
  transition: color .15s;
  cursor: pointer;
  max-height:1.25em;
}

.dropdown__control:hover{

  color:#00A8FF;
  max-height:99em;

  .dropdown__list{
    visibility: visible;
    opacity: 1;
  }
}

.footer-bar{
  width:100%;
  height:2em;
  background-color: $border-highlight;
}
