extends ../layouts/presentation

block presentation
  .project-meta.meta-left
    a(href='/portfolio') return to projects
  .project-meta.meta-right Client | Project name
  .js-slides.sub-page-wrapper
    .sub-page-contents(style='background-image:url("http://unsplash.it/1440/900?random=0")')
      .box--big
        h2 Page 1
    .sub-page-contents(style='background-image:url("http://unsplash.it/1440/900?random=1")')
      .box--big
        h2 Page 2
    .sub-page-contents(style='background-image:url("http://unsplash.it/1440/900?random=2")')
      .box--big
        h2 Page 3
