extends ../layouts/default

block content
  //- .fullscreen-bg
  #content-inner
    .full-page-wrapper(style='background-image:url("http://unsplash.it/1440/900?random=0")')
      .centered
        h2 Cool contente!!
        a.button(href='example') View case study
    .full-page-wrapper(style='background-image:url("http://unsplash.it/1440/900?random=1")')
      .centered
        h2 A project with a <i>Very Long</i> title!
        p Here is a very brief description on the things I did!
        a.button(href='example') View case study
