extends ../layouts/default

block content
  //- .fullscreen-bg
  #content-inner
    .full-page-wrapper(style='background-image:url("/public/images/serve-responsive/serve-responsive-cover.png")')
      .centered
        h2 American Express Serve
        p Launch the Serve.com responsive site, and templatize it to make a broader platform.
        a.button(href='serve-responsive/') View project
    .full-page-wrapper(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-cover.png")')
      .centered
        h2 Serve: Warm Welcome
        p Onboard users at the most critical point of their member journey: card activation.
        a.button(href='serve-warm-welcome/') View project
    .full-page-wrapper(style='background-image:url("/public/images/munchies/munchies-cover.png")')
      .centered
        h2 Munchies City Guides
        p Design a place for Vice Munchies fans to explore and eat their way through cities.
        a.button(href='munchies/') View project
    //- .full-page-wrapper(style='background-image:url("/public/images/powerpuff-yourself/powerpuff-yourself-cover.png")')
    //-   .centered
    //-     h2 Powerpuff yourself
    //-     p Relaunch the Powerpuff Girls show with a viral character creator.
    //-     a.button(href='powerpuff-yourself') View project
    //- .full-page-wrapper(style='background-image:url("/public/images/clear/clear-cover.png")')
    //-   .centered
    //-     h2 Clear Hair Care
    //-     p Help a premium hair care brand understand their place in the dandruff market.
    //-     a.button(href='clear') View project
    .full-page-wrapper(style='background-image:url("/public/images/kinect/kinect-cover.png")')
      .centered
        h2 Kinect Planograms
        p Explore the future of store building for a leading CPG.
        a.button(href='kinect-planogram/') View project
