extends ../layouts/default

block content
  //- .fullscreen-bg
  #content-inner
    .full-page-wrapper(style='background-image:url("/public/images/munchies/munchies-cover.png")')
      .centered
        h2.extra-space Munchies City Guides
        p Design a place for Vice Munchies fans to explore and eat their way through cities.
        a.button(href='munchies/') View project
    .full-page-wrapper(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-cover.png")')
      .centered
        h2.extra-space Serve: Warm Welcome
        p Onboard users at the most critical point of their member journey: card activation.
        a.button(href='serve-warm-welcome/') View project
    .full-page-wrapper(style='background-image:url("/public/images/serve-responsive/serve-responsive-cover.png")')
      .centered
        h2.extra-space American Express Serve
        p Launch the Serve.com responsive site, and expand it into a service platform.
        a.button(href='serve-responsive/') View project
    .full-page-wrapper(style='background-image:url("/public/images/kinect/kinect-cover.png")')
      .centered
        h2.extra-space Kinect Planograms
        p Explore the future of store building for a leading CPG.
        a.button(href='kinect-planogram/') View project
