extends ../layouts/presentation

block presentation
  .project-meta.meta-left
    span
      a.meta(href='/portfolio') return to projects
  .project-meta.meta-right Kinect Planograms
  .js-slides.sub-page-wrapper
    .sub-page-contents.cover(style='background-image:url("/public/images/kinect/kinect-bg.png")')
      iframe(src='https://player.vimeo.com/video/36806207?autoplay=1&loop=1&color=ffffff&title=0&byline=0&portrait=0' width='1500px' height='900px' style='width:100%;height:100%;' frameborder='0' webkitallowfullscreen mozallowfullscreen allowfullscreen)
    .sub-page-contents.cover(style='background-image:url("/public/images/kinect/kinect-bg.png")')
      .box.box--big
        p I worked with the Microsoft Kinect to design and build a working prototype as a tech demo. My goals were to research and explore interactions in 3d space, while being able to demo them in real time.
        p We were pitching a client a small glimpse of what the future of store building and analytics could look like and rapidly demoing tech to show that we were thinking about the future of interaction design.
    .sub-page-contents.cover(style='background-image:url("/public/images/kinect/kinect-bg.png")')
      a.button(href='/portfolio/') Back to projects
