extends ../layouts/presentation

block presentation
  .project-meta.meta-left
    span
      a.meta(href='/portfolio') return to projects
  .project-meta.meta-right Vice: Munchies | City Guides
  .js-slides.sub-page-wrapper
    .sub-page-contents.contain(style='background-image:url("/public/images/munchies/munchies-1.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/munchies/munchies-bg.png")')
      .box.box--big
        h2 Exploring Your City with Munchies
        p The Vice Munchies brand needed a place for people to explore a curated list of Munchies' favorite places in cities throughout the USA.
        p.minor 
          a(href='http://cityguides.munchies.tv' target='_blank') Go to Cityguides.munchies.tv
    .sub-page-contents.contain(style='background-image:url("/public/images/munchies/munchies-3.png")')
    .sub-page-contents.has-video-hide.contain(style='background-image:url("/public/images/munchies/munchies-2.png")')
        video.cover-video(src='/public/videos/munchies-video.mp4' autoplay loop)
    .sub-page-contents.cover(style='background-image:url("/public/images/munchies/munchies-bg.png")')
      .box.box--big
        p My goal of the project was to create an experience that focuses on quick comparison and to give the Munchies team an easy way to build in quick in-roads to Munchies.com articles and content.
    .sub-page-contents.contain(style='background-image:url("/public/images/munchies/munchies-4.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/munchies/munchies-bg.png")')
      .box.box--big
        p As the UX lead on the project, I worked with a team of stakeholders at Munchies to concept what a city guide could look like inside the already established guidelines of the Munchies web experience. I went from concept to completion in a short timeframe, working with support from a visual designer, and our in house development team.
        p.minor
          a(href='http://munchies-guides-proto.netlify.com/' target='_blank') Check out a framerJS prototype of an interaction concept.
    .sub-page-contents.cover(style='background-image:url("/public/images/munchies/munchies-bg.png")')
      a.button(href='/portfolio/kinect-planogram/') View next project
