extends ../layouts/presentation

block presentation
  .project-meta.meta-left
    span
      a(href='/portfolio') return to projects
  .project-meta.meta-right American Express | Serve Responsive Site
  .js-slides.sub-page-wrapper
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-1.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-responsive/serve-responsive-bg.png")')
      .box.box--big
        h2 Launching American Express Serve
        p I worked at American Express for 3 years, focusing on the Serve platform, addressing the needs of Americans who can't afford a basic checking account. My roles were UX designer and design technologist, collaborating with business stakeholders, visual designers, and a remote development team.
        p With the Serve design team, in partnership with a digital agency, I came in mid way through the design effort to help launch the first responsive effort.
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-2.png")')
    .sub-page-contents.has-video-hide.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-4.png")')
        video.cover-video(src='/public/videos/serve-responsive-reg.mp4' autoplay loop)
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-3.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-responsive/serve-responsive-bg.png")')
      .box.box--big
        h2 Whitelabeling for brands
        p I helped lead a transition from a static site to a templatized modular platform for Serve. Example themes for brands could be spun up in days, and new partnerships could come to life in months.
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-5.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-responsive/serve-responsive-bg.png")')
      a.button(href='/portfolio/example') View next project
