extends ../layouts/presentation

block presentation
  .project-meta.meta-left
    span
      a.meta(href='/portfolio') return to projects
  .project-meta.meta-right American Express | Serve Responsive Site
  .js-slides.sub-page-wrapper
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-1.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-responsive/serve-responsive-bg.png")')
      .box.box--big
        h2 Launching American Express Serve
        p I worked at American Express for 3 years focusing on the Serve platform. We were creating a series of tools for people who couldn't afford basic bank accounts to help them manage their money.
        p My role as a design technologist was to work closely with the remote development team, along with business stakeholders and other designers to launch and support the first responsive account experience.
        p.minor
          a(href='http://secure.serve.com' target='_blank') Go to Serve.com
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-2.png")')
    .sub-page-contents.has-video-hide.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-4.png")')
        video.cover-video(src='/public/videos/serve-responsive-video.mp4' autoplay loop)
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-3.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-responsive/serve-responsive-bg.png")')
      .box.box--big
        h2 Whitelabeling for Brands
        p I helped lead an effort to templatize and modularize the responsive platform. We rewrote the static css into themeable sass allowing new partnerships to come to life in months, and example themes to be spun up in days.
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-responsive/serve-responsive-5.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-responsive/serve-responsive-bg.png")')
      a.button(href='/portfolio/serve-warm-welcome/') View next project
