extends ../layouts/presentation

block presentation
  .project-meta.meta-left
    span
      a.meta(href='/portfolio') return to projects
  .project-meta.meta-right American Express | Serve Warm Welcome
  .js-slides.sub-page-wrapper
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-1.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-bg.png")')
      .box.box--big
        h2 A Warmer Welcome
        p I was tasked with designing an onboarding experience for new users. Our goals were to educate our users about features on the platform and reduce call volume about common account questions.
        p.minor 
          a(href='/demos/serve/Activate/' target='_blank') Try out the prototype which became production code. Hit Activate Card!
    .sub-page-contents.has-video-hide.contain(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-0.png")')
        video.cover-video(src='/public/videos/serve-warm-welcome-video-start.mp4' autoplay loop)
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-bg.png")')
      .box.box--big
        h2 The New Visual Language
        p We used this time opportunity to add a new visual language to the site. A large part of my role on this project was invisioning what this new visual language meant from a motion design standpoint, and how motion fit into a responsive web experience.
    .sub-page-contents.has-video-hide.contain(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-0.png")')
        video.cover-video(src='/public/videos/serve-warm-welcome-video.mp4' autoplay loop)
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-bg.png")')
      .box.box--big
        h2 Test and Iterate 
        p I built and tested front end prototypes for the single page app flow that would eventually become production code. I built a system to iterate on animations so as a team we could quickly review and tweak animations in live code.
    .sub-page-contents.contain(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-4.png")')
    .sub-page-contents.cover(style='background-image:url("/public/images/serve-warm-welcome/serve-warm-welcome-bg.png")')
      a.button(href='/portfolio/munchies/') View next project
